*.pyc
.DS_Store
/results
/validations/STU/subanalysis/multiprocessing/*
/validations/STU/subanalysis/multiprocessing.out
/validations/STU/finalanalysis/multiprocessing/*
/validations/STU/finalanalysis/multiprocessing.out
